{
  "openapi": "3.1.0",
  "info": {
    "title": "Vestream Vesting Data API",
    "version": "1.2.0",
    "description": "Normalised, chain-indexed token vesting data — the same dataset that powers the Vestream dashboard and the @vestream/mcp MCP server, exposed as a plain REST API for agents, integrations, and back-office tooling.\n\n## What this API is for\nEvery vesting protocol exposes its own subgraph, contract layout, and data shape. Integrating even one of them takes weeks; integrating eight across two ecosystems takes a team. This API hides that complexity behind a single cross-protocol, cross-chain, cross-ecosystem normalised schema — so an agent or app can answer questions like \"what unlocks for this wallet in the next 14 days\" or \"what is this stream's claimable balance right now\" in a single call, regardless of whether the wallet is an EVM 0x… address or a Solana base58 pubkey.\n\n## Coverage\n- **Protocols:** Sablier, Hedgey, UNCX (TokenVesting + VestingManager), Unvest, Team Finance, Superfluid, PinkSale (PinkLock V2), Streamflow (Solana)\n- **EVM chains:** Ethereum (1), BNB Chain (56), Polygon (137), Base (8453)\n- **Non-EVM chains:** Solana (101)\n- **Address formats:** EVM 0x-prefixed hex OR Solana base58 pubkeys — the API auto-detects the ecosystem from the input\n- **Data shape:** one `VestingStream` schema for every protocol on every chain — same fields, same units, same ID format\n\n## Authentication\nAll endpoints require an API key passed as a bearer token:\n```\nAuthorization: Bearer vstr_live_...\n```\nKeys are issued per account from `/developer/account` after access is approved. Free-tier keys are capped at 30 req/min burst and 150 req/day; paid-tier keys are scoped per contract.\n\n## Data freshness\nResponses are served from Vestream's persistent index — not live on-chain queries. The `last_indexed` field on responses tells you how fresh the data is; it typically trails chain tip by under a minute. No endpoint makes direct RPC or subgraph calls at request time.\n\n## Rate limits\nEvery response carries `X-RateLimit-Limit`, `X-RateLimit-Remaining`, and `X-RateLimit-Reset` headers. A 429 means you've hit the monthly cap or the burst/daily window for your tier. Back off and retry — or contact us about a higher tier.\n\nRequest a key: [vestream.io/developer](https://vestream.io/developer)",
    "contact": {
      "name": "Vestream",
      "url": "https://vestream.io"
    }
  },
  "servers": [
    { "url": "https://vestream.io/api/v1", "description": "Production" }
  ],
  "security": [
    { "BearerAuth": [] }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "vstr_live_...",
        "description": "API key issued by Vestream. Format: `vstr_live_` followed by 64 hex characters. Generate keys from /developer/account once access is approved."
      }
    },
    "schemas": {
      "VestingStream": {
        "type": "object",
        "description": "A single normalised vesting stream. This is the canonical shape every protocol is mapped to — Sablier's per-second linear streams, UNCX's milestone locks, Hedgey's NFT plans, and PinkSale's cycle-based unlocks all come back in this format. Amounts are raw integer strings (not floats — use `tokenDecimals` to format for display). Timestamps are unix seconds.",
        "required": ["id","protocol","chainId","recipient","tokenAddress","tokenSymbol","tokenDecimals","totalAmount","withdrawnAmount","claimableNow","lockedAmount","startTime","endTime","isFullyVested"],
        "properties": {
          "id":             { "type": "string",  "example": "sablier-1-12345", "description": "Composite ID in the format `{protocol}-{chainId}-{nativeId}`. EVM examples: `sablier-1-12345`, `uncx-8453-99`. Solana example: `streamflow-101-7xKXtg2CW87d97TXJSDpbD5jBkheTqA83TZRuJosgAsU`. Use with GET /stream/{streamId} to fetch full detail. URL-safe." },
          "protocol":       { "type": "string",  "example": "sablier", "enum": ["sablier","uncx","uncx-vm","hedgey","unvest","team-finance","superfluid","pinksale","streamflow","jupiter-lock"], "description": "Source protocol. `uncx-vm` is UNCX's VestingManager contract — merged with `uncx` in most product surfaces. `streamflow` and `jupiter-lock` are Solana-only; all others are EVM." },
          "chainId":        { "type": "integer", "example": 1, "description": "Network identifier. EVM chains: 1 (Ethereum), 56 (BNB Chain), 137 (Polygon), 8453 (Base). Non-EVM: 101 (Solana)." },
          "recipient":      { "type": "string",  "example": "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045", "description": "Wallet that receives the vesting tokens. EVM addresses are lowercased hex; Solana pubkeys are base58 (case-sensitive — preserved as returned)." },
          "tokenAddress":   { "type": "string",  "example": "0x1f9840a85d5af5bf1d1762f925bdaddc4201f984", "description": "Contract address of the token. EVM: ERC-20 contract (lowercase hex). Solana: SPL mint pubkey (base58)." },
          "tokenSymbol":    { "type": "string",  "example": "UNI", "description": "Human-readable symbol as reported by the token contract. May be empty if the contract doesn't implement the symbol() view." },
          "tokenDecimals":  { "type": "integer", "example": 18, "description": "ERC-20 decimals. Divide raw amounts by 10^decimals to get a display amount." },
          "totalAmount":    { "type": "string",  "description": "Total tokens allocated to this stream, as a raw integer string (e.g. `\"1000000000000000000000\"` for 1000 tokens at 18 decimals). String format because bigint values exceed JavaScript's safe integer range.", "example": "1000000000000000000000" },
          "withdrawnAmount":{ "type": "string",  "description": "Amount already claimed by the recipient to date (raw integer string)." },
          "claimableNow":   { "type": "string",  "description": "Amount vested and immediately claimable at the time of the last index. `totalAmount - withdrawnAmount - lockedAmount` gives you this value." },
          "lockedAmount":   { "type": "string",  "description": "Amount still locked — not yet vested. Goes to 0 when the stream is fully vested." },
          "startTime":      { "type": "integer", "description": "Stream start (unix seconds). For cliff schedules, vesting doesn't actually begin until `cliffTime`." },
          "endTime":        { "type": "integer", "description": "Stream end (unix seconds). At this point `lockedAmount` becomes 0 and `isFullyVested` becomes true." },
          "cliffTime":      { "type": "integer", "nullable": true, "description": "Unix timestamp at which the cliff unlocks (null if the schedule has no cliff). Between `startTime` and `cliffTime`, no tokens are claimable." },
          "isFullyVested":  { "type": "boolean", "description": "True when `lockedAmount === 0`. `claimableNow` may still be > 0 if the recipient hasn't withdrawn the final tranche yet." },
          "nextUnlockTime": { "type": "integer", "nullable": true, "description": "Unix timestamp of the next incremental unlock — useful for building alerts. Null when the stream is fully vested or streams continuously (linear schedules return the end time here)." },
          "cancelable":     { "type": "boolean", "nullable": true, "description": "Whether the stream can be cancelled by the sender. Protocol-specific; null when the protocol doesn't expose this." },
          "shape":          { "type": "string",  "enum": ["linear","steps"], "nullable": true, "description": "Stream shape. `linear` means continuous per-second vesting (Sablier, Superfluid). `steps` means discrete unlocks at fixed times (UNCX, Team Finance, PinkSale tranched schedules)." },
          "unlockSteps":    {
            "type": "array",
            "nullable": true,
            "description": "Full ordered list of discrete unlock events for step-shaped schedules — each element has a `timestamp` (unix seconds) and `amount` (raw integer string). Empty/null for linear schedules.",
            "items": {
              "type": "object",
              "properties": {
                "timestamp": { "type": "integer" },
                "amount":    { "type": "string" }
              }
            }
          },
          "claimEvents": {
            "type": "array",
            "nullable": true,
            "description": "Historical claim / withdrawal transactions, newest first. Useful for computing time-series of claim behaviour. Each event has `timestamp` (unix seconds) and `amount` (raw integer string of tokens claimed).",
            "items": {
              "type": "object",
              "properties": {
                "timestamp": { "type": "integer" },
                "amount":    { "type": "string" }
              }
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "description": "Standard error envelope returned for any non-2xx response.",
        "properties": {
          "error": { "type": "string", "description": "Short machine-readable error slug suitable for branching in client code." },
          "docs":  { "type": "string", "example": "https://vestream.io/api-docs", "description": "Link to the relevant section of these docs." }
        }
      }
    },
    "headers": {
      "X-RateLimit-Limit":     { "schema": { "type": "integer" }, "description": "Monthly request quota for your API key." },
      "X-RateLimit-Remaining": { "schema": { "type": "integer" }, "description": "Remaining requests in the current month." },
      "X-RateLimit-Reset":     { "schema": { "type": "integer" }, "description": "Unix timestamp at which the monthly counter resets." }
    }
  },
  "paths": {
    "/wallet/{address}/vestings": {
      "get": {
        "operationId": "getWalletVestings",
        "summary": "List all vesting streams for a wallet",
        "description": "Returns every indexed vesting stream where the given wallet is the recipient — across all 7 supported protocols and all 4 chains in a single call. Use this to build portfolio views, power wallet-level dashboards, or answer questions like \"how much of token X is this wallet vesting across Sablier and Hedgey combined?\"\n\nResponses include linear and step-shaped streams, claimed and unclaimed balances, cliff times, and the full `unlockSteps` array for stepped schedules — everything a client needs to render a timeline or compute a forecast without a second call.\n\nCache hint: data is served from Vestream's index, not from live on-chain queries. The `last_indexed` timestamp tells you how fresh it is; this call does not trigger a fresh subgraph fetch.",
        "tags": ["Wallet"],
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "Wallet address. EVM: 0x-prefixed hex, case-insensitive (the API lowercases before lookup). Solana: base58-encoded pubkey, case-sensitive. The API auto-detects ecosystem from the input format.",
            "example": "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"
          },
          {
            "name": "protocol",
            "in": "query",
            "schema": { "type": "string" },
            "description": "Comma-separated list of protocol IDs to restrict the scan to. Omit for all protocols. Valid values: `sablier`, `uncx`, `hedgey`, `unvest`, `team-finance`, `superfluid`, `pinksale`, `streamflow`, `jupiter-lock`.",
            "example": "sablier,uncx"
          },
          {
            "name": "chain",
            "in": "query",
            "schema": { "type": "string" },
            "description": "Comma-separated list of chain IDs. Omit for all supported chains. Valid values: `1` (Ethereum), `56` (BNB Chain), `137` (Polygon), `8453` (Base), `101` (Solana).",
            "example": "1,8453"
          },
          {
            "name": "active_only",
            "in": "query",
            "schema": { "type": "boolean" },
            "description": "When true, excludes streams where `isFullyVested === true`. Useful for building live dashboards where you only care about streams still releasing tokens. Default: false (returns all streams including historical/finished ones)."
          }
        ],
        "responses": {
          "200": {
            "description": "List of vesting streams matching the filters. An empty `streams` array means the wallet has no indexed vestings on the selected protocols/chains — not an error.",
            "headers": {
              "X-RateLimit-Limit":     { "$ref": "#/components/headers/X-RateLimit-Limit" },
              "X-RateLimit-Remaining": { "$ref": "#/components/headers/X-RateLimit-Remaining" },
              "X-RateLimit-Reset":     { "$ref": "#/components/headers/X-RateLimit-Reset" }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "wallet":       { "type": "string", "description": "The wallet address that was queried, lowercased." },
                    "count":        { "type": "integer", "description": "Number of streams in the response." },
                    "last_indexed": { "type": "string", "format": "date-time", "nullable": true, "description": "When the backing index was last refreshed for this wallet's protocols. Typically under one minute old." },
                    "streams":      { "type": "array", "items": { "$ref": "#/components/schemas/VestingStream" }, "description": "Ordered newest-first by `startTime`." }
                  }
                }
              }
            }
          },
          "401": { "description": "Missing, malformed, or revoked API key.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "429": { "description": "Rate limit exceeded — either the per-minute burst, per-day, or monthly quota for your tier.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/wallet/{address}/upcoming-unlocks": {
      "get": {
        "operationId": "getUpcomingUnlocks",
        "summary": "List upcoming unlock events for a wallet",
        "description": "Returns every unlock event (cliff completion, tranche release, linear stream endpoint) scheduled to occur within a future time window, sorted ascending by date. Purpose-built for forecasting, alerts, and claim-planning agents: one call tells you exactly what tokens a wallet can claim over the next N days and when.\n\nTypical uses: agents building unlock calendars, bots that notify users before an unlock, compliance tools tracking vesting cash-flow exposure. Prefer this endpoint over `GET /wallet/{address}/vestings` when you only care about the next unlock per stream — it's ~10× cheaper to parse on the client.",
        "tags": ["Wallet"],
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "Wallet address — EVM 0x hex (case-insensitive) or Solana base58 pubkey (case-sensitive).",
            "example": "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"
          },
          {
            "name": "days",
            "in": "query",
            "schema": { "type": "integer", "default": 30, "maximum": 365 },
            "description": "Lookahead window in days, counting from now. Default: 30. Maximum: 365 (values above are clamped)."
          },
          {
            "name": "protocol",
            "in": "query",
            "schema": { "type": "string" },
            "description": "Comma-separated protocol filter — same semantics as on the vestings endpoint. Omit to include every protocol."
          }
        ],
        "responses": {
          "200": {
            "description": "Upcoming unlock events sorted ascending by `unlock_time`. An empty `unlocks` array means nothing vests for this wallet within the window.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "wallet":       { "type": "string" },
                    "window_days":  { "type": "integer", "description": "Echo of the `days` parameter (after clamping)." },
                    "count":        { "type": "integer" },
                    "unlocks": {
                      "type": "array",
                      "description": "Each element is one scheduled unlock event. Multiple events may belong to the same `stream_id` when a schedule has multiple tranches inside the window.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "stream_id":        { "type": "string", "description": "Composite stream ID — pass to GET /stream/{streamId} for full detail." },
                          "protocol":         { "type": "string" },
                          "chain_id":         { "type": "integer" },
                          "token_symbol":     { "type": "string" },
                          "token_address":    { "type": "string" },
                          "unlock_time":      { "type": "integer", "description": "Unix timestamp (seconds) when this event fires." },
                          "unlock_type":      { "type": "string", "enum": ["cliff","end","tranche"], "description": "`cliff` = a cliff completion; `tranche` = a step in a stepped schedule; `end` = a linear stream's fully-vested timestamp." },
                          "amount_unlocking": { "type": "string", "description": "Tokens releasing at this event (raw integer string; divide by token decimals for display)." }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "description": "Missing, malformed, or revoked API key.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/stream/{streamId}": {
      "get": {
        "operationId": "getStream",
        "summary": "Get full detail for a single vesting stream",
        "description": "Returns every field of the `VestingStream` schema for one specific stream, plus the indexer-level metadata (`first_seen`, `last_indexed`). Use this after discovering a `stream_id` from the wallet-level endpoints — never as a first call unless you already have the composite ID from elsewhere (an on-chain event, a user-pasted URL, etc.).\n\nStream IDs are composite: `{protocol}-{chainId}-{nativeId}`. Example: `sablier-1-12345` is Sablier stream 12345 on Ethereum. IDs are stable and URL-safe.",
        "tags": ["Streams"],
        "parameters": [
          {
            "name": "streamId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "Composite stream ID in the format `{protocol}-{chainId}-{nativeId}`, always lowercase. Obtainable via the wallet endpoints or directly constructible if you have the protocol and native ID.",
            "example": "sablier-1-12345"
          }
        ],
        "responses": {
          "200": {
            "description": "Full stream detail, including `first_seen` (when the indexer first saw this stream) and `last_indexed` (how fresh the data is).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "stream":       { "$ref": "#/components/schemas/VestingStream" },
                    "last_indexed": { "type": "string", "format": "date-time" },
                    "first_seen":   { "type": "string", "format": "date-time" }
                  }
                }
              }
            }
          },
          "401": { "description": "Missing, malformed, or revoked API key." },
          "404": { "description": "Stream ID not found in the Vestream index. Possible causes: the ID is malformed, the protocol isn't indexed, or the stream was created after the last subgraph sync (rare — usually resolves within a minute)." }
        }
      }
    }
  },
  "tags": [
    { "name": "Wallet",  "description": "Wallet-level queries — use these when your input is an address and you want everything indexed for it." },
    { "name": "Streams", "description": "Stream-level queries — use these when you already have a specific stream ID in hand." }
  ]
}
